<!-- Execute signal with member() and use as member for cleaner access -->
@if (member(); as member) {
  <div class="flex flex-col gap-3">
    <div class="flex gap-3">
      <span class="font-semibold">Member since:</span>
      <span>{{ member.created | date: 'longDate' }}</span>
    </div>
    <div class="flex gap-3">
      <span class="font-semibold">Last active:</span>
      <span>{{ member.lastActive | date: 'dd MMMM yyyy h:mm a' }}</span>
    </div>

    <h3 class="text-lg font-semibold text-primary">About {{ member.displayName }}</h3>
    @if (memberService.isEditMode()) {
      <form [formGroup]="form" (ngSubmit)="updateProfile()" class="flex flex-col w-full gap-4">
        <label class="floating-label">
          <span>Display name</span>
          <input formControlName="displayName" class="input w-full" placeholder="Display name" />
        </label>
        <label class="floating-label">
          <span>Description</span>
          <textarea
            name="description"
            class="textarea w-full"
            placeholder="Description"
            formControlName="description"
          >
          </textarea>
        </label>
        <label class="floating-label">
          <span>City</span>
          <input name="city" class="input w-full" placeholder="City" formControlName="city" />
        </label>

        <label class="floating-label">
          <span>Country</span>
          <input
            name="country"
            class="input w-full"
            placeholder="Country"
            formControlName="country"
          />
        </label>
        <div class="flex self-end">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    } @else {
      <div>
        {{ member.description }}
      </div>
    }
  </div>
}
