@if (paginatedMembers(); as paginatedResult) {
  <div class="flex flex-col w-full gap-4">

    <div class="flex justify-between items-center">
      <div class="flex gap-3">
        <button
          type="button"
          class="btn btn-primary"
          (click)="openModal()"
        >
          Select Filters
        </button>

        <button
          type="button"
          class="btn btn-ghost"
          (click)="resetFilters()"
        >
          Reset
        </button>
      </div>

      <app-paginator
        [pageNumber]="memberParams().pageNumber"
        [pageSize]="memberParams().pageSize"
        [totalCount]="paginatedResult.metadata.totalCount"
        [totalPages]="paginatedResult.metadata.totalPages"
        (pageNumberChange)="onPageNumberChange($event)"
        (pageSizeChange)="onPageSizeChange($event)"
      />
    </div>

    @if (paginatedResult.items.length > 0) {
      <div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-6">
        @for (member of paginatedResult.items; track member.id) {
          <app-member-card [member]="member" />
        }
      </div>
    } @else {
      <p class="text-sm text-base-content/70">
        No members found.
      </p>
    }

  </div>
}

@if (isFilterOpen()) {
  <app-filter-modal
    [memberParams]="memberParams()"
    (closeModal)="closeModal()"
    (submitData)="onFilterChange($event)"
  />
}
