@if (paginatedMembers(); as paginatedResult) {
  <div class="flex flex-col w-full gap-4">
    <div class="flex justify-between">
      <div class="flex gap-3 items-center">
        <button type="button" class="btn btn-primary" (click)="openModal()">Select Filters</button>
        <button type="button" class="btn btn-ghost" (click)="resetFilters()">Reset</button>
      </div>
      <app-paginator
        [pageNumber]="memberParams().pageNumber"
        (pageNumberChange)="onPageNumberChange($event)"
        [totalCount]="paginatedResult.metadata.totalCount"
        [totalPages]="paginatedResult.metadata.totalPages"
        [pageSize]="memberParams().pageSize"
        (pageSizeChange)="onPageSizeChange($event)"
      />
    </div>

    @if (paginatedResult.items.length > 0) {
      <div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-6">
        @for (member of paginatedResult.items; track member.id) {
          <app-member-card [member]="member" />
        }
      </div>
    } @else {
      <p class="text-sm">No members found.</p>
    }
  </div>
}

<app-filter-modal
  #filterModal
  (closeModal)="onClose()"
  (submitData)="onFilterChange($event)"
  [memberParams]="memberParams()"
/>
